<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleGrabit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConsoleGrabit.Properties.Settings>
            <setting name="configlocation" serializeAs="String">
                <value />
            </setting>
            <setting name="javacachedirectory" serializeAs="String">
                <value>C:\Documents and Settings\Rob Allen\Application Data\Sun\Java\Deployment\cache\</value>
            </setting>
            <setting name="pdfstore" serializeAs="String">
                <value>c:\pdf\</value>
            </setting>
            <setting name="Db40Location" serializeAs="String">
                <value>c:\db40\County.yap</value>
            </setting>
        </ConsoleGrabit.Properties.Settings>
    </userSettings>
</configuration>